<ion-view view-title="Timbreo" ng-controller="LoginController">
    <div class="bar bar-header bar-energized">
        <h1 class="title">Timbreo</h1>
    </div>
    <ion-content class="has-header">
        <form ng-submit="login()">
            <div class="item item-divider">
                Para comenzar ingresá tu información.
            </div>
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="ejemplo@tuemail.com" ng-model="user.email">
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Comuna</span>
                    <select ng-model="user.comuna">
                        <option ng-repeat="comuna in comunas" ng-value="comuna">{{comuna}}</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Color de Zona</span>
                    <select ng-model="user.color">
                        <option ng-repeat="color in colores" ng-value="color">{{color}}</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Número de Zona</span>
                    <input type="number" class="comuna" ng-model="user.mapa">
                </label>
                <input type="submit" class="button button-block button-energized" value="Ingresar" />
            </div>
        </form>
    </ion-content>
</ion-view>