<ion-view view-title="Timbreo" ng-controller="LoginController">
    <div class="bar bar-header bar-energized">
        <h1 class="title">Timbreo</h1>
    </div>
    <ion-content class="has-header">
        <form ng-submit="login()">
            <div class="item item-divider">
                Para comenzar ingresá tu información.
            </div>
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Indentificación</span>
                    <input type="text" placeholder="Nombre/DNI/Email" ng-model="user.identificacion">
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Comuna</span>
                    <select ng-model="user.comuna">
                        <option ng-repeat="comuna in comunas" ng-value="comuna">{{comuna}}</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Color de Zona</span>
                    <select ng-model="user.color">
                        <option ng-repeat="color in colores" ng-value="color">{{color}}</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Número de Zona</span>
                    <input type="number" class="comuna" ng-model="user.mapa">
                </label>
                <div class="card">
                    <div class="item item-divider item-text-wrap">Comuna</div>
                    <div class="item item-text-wrap">
                        <div class="button-bar">
                            <a class="button" ng-click="seleccionar('comuna', comuna);" ng-repeat="comuna in [1, 2, 3, 4, 5]" ng-class="user.comuna == comuna ? 'button-dark' : 'button-outline button-stable'">{{comuna}}</a>
                        </div>
                        <div class="button-bar">
                            <a class="button" ng-click="seleccionar('comuna', comuna);" ng-repeat="comuna in [6, 7, 8, 9, 10]" ng-class="user.comuna == comuna ? 'button-dark' : 'button-outline button-stable'">{{comuna}}</a>
                        </div>
                        <div class="button-bar last">
                            <a class="button" ng-click="seleccionar('comuna', comuna);" ng-repeat="comuna in [11, 12, 13, 14, 15]" ng-class="user.comuna == comuna ? 'button-dark' : 'button-outline button-stable'">{{comuna}}</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider item-text-wrap">Color de Zona</div>
                    <div class="item item-text-wrap">
                        <div class="button-bar">
                            <a class="button" ng-click="seleccionar('color', color);" ng-repeat="color in colores1" ng-class="user.color == color ? 'button-dark' : 'button-outline button-stable'">{{color}}</a>
                        </div>
                        <div class="button-bar last">
                            <a class="button" ng-click="seleccionar('color', color);" ng-repeat="color in colores2" ng-class="user.color == color ? 'button-dark' : 'button-outline button-stable'">{{color}}</a>
                        </div>
                    </div>
                </div>
                <input type="submit" class="button button-block button-balanced" value="Ingresar" />
            </div>
        </form>
    </ion-content>
</ion-view>