<ion-view view-title="Nueva Carga" ng-controller="TimbreoController">
    <div class="bar bar-header bar-energized">
        <h1 class="title">Timbreo - Nueva Carga</h1>
        <button class="button icon ion-close-circled" ng-click="exit()"></button>
    </div>
    <ion-content class="has-header">
        <div class="card" ng-repeat="(numero, pregunta) in preguntas">
            <div class="item item-divider item-text-wrap">{{numero}}) {{pregunta.texto}}</div>
            <div class="item item-text-wrap" ng-show="pregunta.tipo == 'simple.estado'">
                <div class="button-bar last">
                    <a class="button" ng-click="seleccionar(numero, value)" ng-repeat="(value, texto) in pregunta.opciones" ng-class="formulario.respuestas[numero] == value ? 'button-dark' : 'button-outline button-stable'">{{value}}</a>
                </div> 
            </div>
        </div>
        <div class="card">
            <div class="item item-divider item-text-wrap">3) ¿Cuál dirias que es la principal problemática del país?</div>
            <div class="item item-text-wrap">
                <div class="button-bar">
                    <a class="button" ng-click="seleccionar(3, 'Inflacion');" ng-class="formulario.respuestas[3] == 'Inflacion' ? 'button-dark' : 'button-outline button-stable'">Inflación</a>
                    <a class="button" ng-click="seleccionar(3, 'Seguridad');" ng-class="formulario.respuestas[3] == 'Seguridad' ? 'button-dark' : 'button-outline button-stable'">Seguridad</a>
                </div> 
                <div class="button-bar">
                    <a class="button" ng-click="seleccionar(3, 'Corrupcion');" ng-class="formulario.respuestas[3] == 'Corrupcion' ? 'button-dark' : 'button-outline button-stable'">Corrupción</a>
                    <a class="button" ng-click="seleccionar(3, 'Educacion');" ng-class="formulario.respuestas[3] == 'Educacion' ? 'button-dark' : 'button-outline button-stable'">Educación</a>
                </div>   
                <div class="button-bar last">
                    <a class="button" ng-click="seleccionar(3, 'Empleo');" ng-class="formulario.respuestas[3] == 'Empleo' ? 'button-dark' : 'button-outline button-stable'">Empleo</a>
                    <a class="button" ng-click="seleccionar(3, 'Pobreza');" ng-class="formulario.respuestas[3] == 'Pobreza' ? 'button-dark' : 'button-outline button-stable'">Pobreza</a>
                    <a class="button" ng-click="seleccionar(3, 'Salud');" ng-class="formulario.respuestas[3] == 'Salud' ? 'button-dark' : 'button-outline button-stable'">Salud</a>
                </div>  
            </div>
        </div>
        <div class="card">
            <div class="item item-divider item-text-wrap">4) ¿Cómo calificarías cada una de estas áreas de gobierno con una escala del 1 al 10?</div>
            <div class="item item-text-wrap" ng-repeat="area in areas">
                {{area}}
                <div class="button-bar last">
                    <a class="button" ng-repeat="value in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" ng-click="seleccionarMultiple(4, area, value)" ng-class="formulario.respuestas[4][area] == value ? 'button-dark' : 'button-outline button-stable'">{{value}}</a>
                </div> 
            </div>
        </div>
        <!--
        <div class="card">
            <div class="item item-divider item-text-wrap">5) ¿Qué cosas te gustan más?</div>
            <div class="item item-text-wrap">
                <textarea ng-model="formulario.respuestas[5]"></textarea>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider item-text-wrap">6) ¿Qué cosas cambiarías del rumbo del Gobierno Nacional?</div>
            <div class="item item-text-wrap">
                <textarea ng-model="formulario.respuestas[6]"></textarea>
            </div>
        </div>
        -->
        <div class="card">
            <div class="item item-divider item-text-wrap">5) Como sabrás en unos meses se eligirán Diputados Nacionales. Si las elecciones fueran hoy, ¿a cuál de estos partidos votarías?</div>
            <div class="item item-text-wrap">
                <div class="button-bar">
                    <a class="button" ng-click="seleccionar(5, 'PRO');" ng-class="formulario.respuestas[5] == 'PRO' ? 'button-dark' : 'button-outline button-stable'">PRO Cambiemos</a>
                </div> 
                <div class="button-bar">
                    <a class="button" ng-click="seleccionar(5, 'ECO');" ng-class="formulario.respuestas[5] == 'ECO' ? 'button-dark' : 'button-outline button-stable'">ECO (Martín Lousteau)</a>
                </div> 
                <div class="button-bar">
                    <a class="button" ng-click="seleccionar(5, 'FPV');" ng-class="formulario.respuestas[5] == 'FPV' ? 'button-dark' : 'button-outline button-stable'">Frente para la Victoria</a>
                </div> 
                <div class="button-bar">
                    <a class="button" ng-click="seleccionar(5, 'FR');" ng-class="formulario.respuestas[5] == 'FR' ? 'button-dark' : 'button-outline button-stable'">Frente Renovador</a>
                </div> 
                <div class="button-bar">
                    <a class="button" ng-click="seleccionar(5, 'Izquierda');" ng-class="formulario.respuestas[5] == 'Izquierda' ? 'button-dark' : 'button-outline button-stable'">Frente de Izquierda</a>
                </div> 
                <div class="button-bar last">
                    <a class="button" ng-click="seleccionar(5, 'Otro');" ng-class="formulario.respuestas[5] == 'Otro' ? 'button-dark' : 'button-outline button-stable'">Otro</a>
                    <a class="button" ng-click="seleccionar(5, 'NS/NC');" ng-class="formulario.respuestas[5] == 'NS/NC' ? 'button-dark' : 'button-outline button-stable'">NS/NC</a>
                </div>  
            </div>
        </div>
        <div class="card" ng-repeat="(numero, pregunta) in preguntas2">
            <div class="item item-divider item-text-wrap">{{numero}}) {{pregunta.texto}}</div>
            <div class="item item-text-wrap" ng-show="pregunta.tipo == 'simple.estado'">
                <div class="button-bar last">
                    <a class="button" ng-click="seleccionar(numero, value)" ng-repeat="(value, texto) in pregunta.opciones" ng-class="formulario.respuestas[numero] == value ? 'button-dark' : 'button-outline button-stable'">{{value}}</a>
                </div> 
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced" ng-click="guardar()">Guardar</button>
        </div>
    </ion-content>
</ion-view>
